[Desktop Entry]
Name=WaterIV
Comment=Supplies real-time water data from the USGS Instantaneous Values Web Service.
Type=Service
 
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_wateriv
X-Plasma-EngineName=wateriv
X-KDE-PluginInfo-Author=Forrest Guice
X-KDE-PluginInfo-Email=ftg2@users.sourceforge.net
X-KDE-PluginInfo-Name=wateriv
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://code.google.com/p/plasma-wateriv
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
