Source: plasma-dataengine-wateriv
Section: kde
Priority: optional
Maintainer: Forrest Guice <ftg2@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), cdbs, cmake, kdelibs5-dev (>= 4.6.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/plasma-wateriv/

Package: plasma-dataengine-wateriv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plasma data engine providing access to USGS water data.
 A plasma data engine for the KDE 4 Desktop that provides access to recent real-time water data using public web services provided by the United States Geological Survey.
